# Database (PostgreSQL za Vercel)
DATABASE_URL="postgresql://user:password@host:5432/database"

# NextAuth konfiguracija
NEXTAUTH_SECRET="ortodontic-veternik-secret-key-2024-very-secure-random-string"
NEXTAUTH_URL="https://tvoj-domen.vercel.app"

# Admin korisnik (za seed)
ADMIN_EMAIL="ortodontic.info@gmail.com"
ADMIN_PASSWORD="vasa-lozinka"
